<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Godlewski Mateusz</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="images/favicon.ico">
    </head>
    <body>
    <table cellspacing="30">
        <tr>
            <td><a href="index.html"><img src="static/Przechwytywanie.PNG" alt="Mateusz Godlewski picture"></a></td>
            <td>
                <h1><a href="index.html">Godlewski Mateusz</a></h1>
                <p><i>Self taught Python developer. </i></p>
                <p>I am a self taught Python developer. I also have a basic understanding of HTML.</p>
            </td>
        </tr>
    </table>


        <hr>
        <h3>Education</h3>
        <ul>
            <li>
            <p>II Liceum Ogólnokształcące im. księżnej Anny z Sapiehów Jabłonowskiej in Białystok.<br>
            <strong>International Baccalaureate Diploma Programme</strong></p>
            </li>
        </ul>
        <hr>
        <h3>Working Experience</h3>
        <table cellspacing="5">
            <thead>
                <tr>
                    <th>Dates</th>
                    <th>Work</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>August 2020 - Present</td>
                    <td>Refresco, Repack Operative</td>
                </tr>
                <tr>
                    <td>October 2019 - August 2020</td>
                    <td>Boohoo Warehouse, Stock Control Administrator</td>
                </tr>
                <tr>
                    <td>July 2019 - October 2019</td>
                    <td>Boohoo Warehouse, Stock Control Operative</td>
                </tr>
                <tr>
                    <td>June – September 2017 & 2018</td>
                    <td>Ametros Facilities Management, Operative</td>
                </tr>
            </tbody>
        </table>
        <h3>IT skills</h3>

        <table cellspacing="5">
            <tr>
                <td>Microsoft Office Suite</td>
                <td>⭐⭐⭐⭐⭐</td>
                <td>Python</td>
                <td>⭐⭐⭐⭐⭐</td>

            </tr>
            <tr>
                <td>CSS</td>
                <td>⭐</td>
                <td>HTML</td>
                <td>⭐⭐⭐</td>
            </tr>
        </table>
        <hr>
        <h3><a href="hobbies.html">Free Time Hobbies</a></h3>
        <hr>
        <h3><a href="contact.html">Contact Me</a></h3>
        <hr>

    </body>
</html>
